<header role="banner">
    <!-- Primary navigation bar -->
    <nav role="navigation" class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Main navigation">
      <div class="container col-12">
        <a class="navbar-brand col-2 ml-3" style="float: left;" routerLink="/">
          <img src="../../assets/brand/orange_logo.svg" alt="Back to homepage" title="Back to homepage" width="50" height="50" loading="lazy"/>
        </a>
        <div  class="navbar-collapse justify-content-between collapse col-8" style="float: right;" id="collapsing-navbarHead" style="float: right !important;">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" routerLinkActive="active"  routerLink="/events" >Evènement<span class="sr-only"> (current)</span></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/resultat">Résultat</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  