<main role="main">
    <div class="bg-light pt-5 pb-3">
      <div class="container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div>
              <!-- Header title + link to see all -->
              <div class="d-flex mb-3">
                <h2 class="m-0">Liste des Candidats</h2>
                <a routerLink="/addCandidat" class="btn btn-secondary ml-auto">Ajouter Candidat</a>
              </div>
              <div class="row discovery-carousel-frame-row">
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                      <div class="card-text mb-1 ">Code</div>
                      <div class="card-text mb-1">Evenement</div>
                      <div class="card-text mb-1">Nom et prénoms</div>
                      <div class="card-text mb-1">E-mail</div>
                      <div class="card-text mb-1">Telephone</div>
                      
                      <div>
                        <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                        <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                        <div class="card-text mb-1 ">Code</div>
                        <div class="card-text mb-1">Evenement</div>
                        <div class="card-text mb-1">Nom et prénoms</div>
                        <div class="card-text mb-1">E-mail</div>
                        <div class="card-text mb-1">Telephone</div>
                        
                        <div>
                          <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                          <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                        <div class="card-text mb-1 ">Code</div>
                        <div class="card-text mb-1">Evenement</div>
                        <div class="card-text mb-1">Nom et prénoms</div>
                        <div class="card-text mb-1">E-mail</div>
                        <div class="card-text mb-1">Telephone</div>
                        
                        <div>
                          <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                          <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                        <div class="card-text mb-1 ">Code</div>
                        <div class="card-text mb-1">Evenement</div>
                        <div class="card-text mb-1">Nom et prénoms</div>
                        <div class="card-text mb-1">E-mail</div>
                        <div class="card-text mb-1">Telephone</div>
                        
                        <div>
                          <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                          <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                        <div class="card-text mb-1 ">Code</div>
                        <div class="card-text mb-1">Evenement</div>
                        <div class="card-text mb-1">Nom et prénoms</div>
                        <div class="card-text mb-1">E-mail</div>
                        <div class="card-text mb-1">Telephone</div>
                        
                        <div>
                          <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                          <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
</main>