<main role="main" id="content" class="my-5 text-center">
    <form class="form-signin" width="200" (submit)="onSubmit()" [formGroup]="logForm" id="PostAdminEditForm">
        <img class="mb-4" src="../../assets/brand/orange_logo.svg" alt="" width="200" height="72">

        <div class="card border-warning mb-3" style="max-width: 18rem;">
            <h1 class="h3 mb-3 font-weight-normal mt-4">Espace Jury</h1>
            <div class="card-body text-success">
              <div class="form-group required">
                <label for="PostName" class="is-required">Numéro de Téléphone</label>
                <input name="data[Post][titre]" formControlName="juryTelephone" class="form-control" maxlength="255" type="number"
                  id="PostName" required="required" aria-required="true">
              </div>
            </div>
            <div class="checkbox mb-3">
            </div>
            <button type="submit" class="btn btn-lg btn-warning btn-block" type="submit">Connexion</button>
          </div>
    </form>
</main>
<app-footer></app-footer>