<main role="main" id="content" class="container-fluid my-5">

  <form (submit)="onSubmit()" [formGroup]="eventForm" class="row" id="PostAdminEditForm">

    <div class="col-12 col-lg-6 m-auto">
      <div class="container mb-4">
        <h1 *ngIf="!evenId; else titre">Ajout d'évènement</h1>
        <ng-template #titre>
          <h1>Modification d'évènement</h1>
        </ng-template>

      </div>
      <div class="form-group required mt-3">
        <label for="PostName" class="is-required">Nom</label>
        <input name="data[Post][titre]" formControlName="evenementNom" class="form-control" maxlength="255" type="text"
          id="PostName" required="required" aria-required="true">
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" [formControl]="file" (change)="fileChange($event)" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
        </div>
      </div>
      <div class="form-group">
        <label for="PostCategoryId">Type</label>
        <select name="data[Post][category_id]" formControlName="evenementType" class="custom-select"
          id="PostCategoryId">
          <option value="Groupe">Groupe</option>
          <option value="Individuel">Individuel</option>
        </select>
      </div>
      <div class="form-group required">
        <label for="Date1" class="is-required">Date debut</label>
        <input name="data[Post][Date1]" formControlName="evenementDateDebut" class="form-control" maxlength="255"
          type="date" id="Date1" required="required" aria-required="true">
      </div>
      <div class="form-group required">
        <label for="Date2" class="is-required">Date fin</label>
        <input name="data[Post][Date2]" class="form-control" formControlName="evenementDateFin" maxlength="255"
          type="date" id="Date2" required="required" aria-required="true">
      </div>

      <button type="submit" class="btn btn-primary float-right" *ngIf="!evenId; else add">Créer Evenement</button>
      <ng-template #add>
        <button type="submit" class="btn btn-primary float-right">Modifier l'évenement</button>
      </ng-template>
    </div>
  </form>
</main>
<!--/.container-->