<app-header></app-header>
<main role="main" id="content" class="container-fluid my-5">

  <form class="row" (submit)="onSubmit()" [formGroup]="juryForm" id="PostAdminEditForm">
    <div class="col-12 col-lg-6 m-auto">
      <div class="container mb-4">
        <h1 >Ajout de jury</h1>
      </div>
      <div class="form-group required">
        <label for="PostName" class="is-required">Code</label>
        <input name="data[Post][titre]" formControlName="juryCode" class="form-control" maxlength="255" type="text"
          id="PostName" required="required" aria-required="true">
      </div>
      <div class="form-group required">
        <label for="PostName" class="is-required">Email</label>
        <input name="data[Post][titre]" formControlName="juryEmail" class="form-control" maxlength="255" type="email"
          id="PostName" required="required" aria-required="true">
      </div>
      <div class="form-group required">
        <label for="PostName" class="is-required">Nom et prénoms</label>
        <input name="data[Post][titre]" formControlName="juryNomComplet" class="form-control" maxlength="255"
          type="email" id="PostName" required="required" aria-required="true">
      </div>
      <div class="form-group required">
        <label for="PostName" class="is-required">Téléphone</label>
        <input name="data[Post][titre]" formControlName="juryTelephone" class="form-control" maxlength="255" type="text"
          id="PostName" required="required" aria-required="true">
      </div>

      <button type="submit" class="btn btn-primary float-right">Créer Jury</button>
    </div>
  </form>
</main>

<app-footer></app-footer>