<main role="main" id="content" class="my-5">
  <div class="container-fluid">
    <h1>Nos juries</h1>
  </div>


  <div class="container-fluid">
    <table id="news-table" class="table tablesorter mb-5">
      <caption>
        <a routerLink="/addJury" class="btn btn-sm btn-secondary ml-3 float-right">Ajouter jury</a>
      </caption>
      <thead class="cf">
        <tr>
          <th scope="col" class="header">ID</th>
          <th scope="col" class="header">Code</th>
          <th scope="col" class="header">Email</th>
          <th scope="col" class="header">Nom et prenoms</th>
          <th scope="col" class="header">Teléphone</th>
          <th scope="col" class="header">Evenement</th>
          <th scope="col" class="header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jury of allJuries">
          <td class="align-middle">{{jury.juryId}}</td>
          <td class="align-middle">{{jury.juryCode}}</td>
          <td class="align-middle">{{jury.juryEmail}}</td>
          <td class="align-middle">{{jury.juryNomComplet}}</td>
          <td class="align-middle">{{jury.juryTelephone}}</td>
          <td class="align-middle" *ngIf="jury.evenement">{{jury.evenement.evenementNom}}</td>
          <td class="align-middle">
            <a [routerLink]="['/addJury', jury.juryId]" class="btn btn-primary mr-2">Edit</a>
            <button *ngIf="jury.juryId" (click)="deleteJury(jury.juryId)" data-toggle="modal"
                        data-target="#confirmDelete" class="btn btn-secondary">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="myModalLabel" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title h4" id="myModalLabel">Confirm deletion</h2>
            <!-- Boosted mod: using visually hidden text instead of aria-label -->
            <button type="button" class="close" data-dismiss="modal">
              <span class="sr-only">Close confirmation modal</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Si vous supprimer ce jury , cela sera définitif. ètes-vous sûre de vouloir supprimer?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
            <button type="button" (click)="deleteOK()" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin modal -->
  </div>
</main>