<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Orange and Boosted contributors">
    <title>ODA · {{ title }} </title>
    <app-stylesheet></app-stylesheet>
  </head>
  <body>

<app-header></app-header>

<main role="main">
  <div class="bg-light pt-5 pb-3">
    <div class="container">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div>
            <!-- Header title + link to see all -->
            <div class="d-flex mb-3">
              <h2 class="m-0">Liste des évènements</h2>
              <a href="#" class="btn btn-secondary ml-auto">Ajouter évènement<span class="sr-only"> about the module XXXX</span></a>
            </div>
            <div class="row discovery-carousel-frame-row">
              <div class="col-4 mt-4">
                <div class="card border">
                  <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                  <div class="card-body position-static">
                    <h3 class="card-title mb-2">titre de l'évènement</h3>
                    <p class="card-text mb-3" lang="zxx">
                      Type dévènement <br>
                      <div>
                        <div class="col-md-6" style="float: left;">date debut </div>
                        <div class="col-md-6" style="float: right;">date fin </div>
                      </div>
                    </p>
                    <a href="#" class="btn btn-primary mt-3 float-right">Détails<span class="sr-only">&nbsp;about the TITLE OF THE INSIGHT</span></a>
                  </div>
                </div>
              </div>
              <div class="col-4 mt-4">
                <div class="card border">
                  <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                  <div class="card-body position-static">
                    <h3 class="card-title mb-2">titre de l'évènement</h3>
                    <p class="card-text mb-3" lang="zxx">
                      Type dévènement <br>
                      <div>
                        <div class="col-md-6" style="float: left;">date debut </div>
                        <div class="col-md-6" style="float: right;">date fin </div>
                      </div>
                    </p>
                    <a href="#" class="btn btn-primary mt-3 float-right">Détails<span class="sr-only">&nbsp;about the TITLE OF THE INSIGHT</span></a>
                  </div>
                </div>
              </div>
              <div class="col-4 mt-4">
                <div class="card border">
                  <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                  <div class="card-body position-static">
                    <h3 class="card-title mb-2">titre de l'évènement</h3>
                    <p class="card-text mb-3" lang="zxx">
                      Type dévènement <br>
                      <div>
                        <div class="col-md-6" style="float: left;">date debut </div>
                        <div class="col-md-6" style="float: right;">date fin </div>
                      </div>
                    </p>
                    <a href="#" class="btn btn-primary mt-3 float-right">Détails<span class="sr-only">&nbsp;about the TITLE OF THE INSIGHT</span></a>
                  </div>
                </div>
              </div>
              <div class="col-4 mt-4">
                <div class="card border">
                  <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                  <div class="card-body position-static">
                    <h3 class="card-title mb-2">titre de l'évènement</h3>
                    <p class="card-text mb-3" lang="zxx">
                      Type dévènement <br>
                      <div>
                        <div class="col-md-6" style="float: left;">date debut </div>
                        <div class="col-md-6" style="float: right;">date fin </div>
                      </div>
                    </p>
                    <a href="#" class="btn btn-primary mt-3 float-right">Détails<span class="sr-only">&nbsp;about the TITLE OF THE INSIGHT</span></a>
                  </div>
                </div>
              </div>
              <div class="col-4 mt-4">
                <div class="card border">
                  <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                  <div class="card-body position-static">
                    <h3 class="card-title mb-2">titre de l'évènement</h3>
                    <p class="card-text mb-3" lang="zxx">
                      Type dévènement <br>
                      <div>
                        <div class="col-md-6" style="float: left;">date debut </div>
                        <div class="col-md-6" style="float: right;">date fin </div>
                      </div>
                    </p>
                    <a href="#" class="btn btn-primary mt-3 float-right">Détails<span class="sr-only">&nbsp;about the TITLE OF THE INSIGHT</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</main>
<!-- Footer -->
<app-footer></app-footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
      <script src="../../assets/dist/js/boosted.bundle.min.js"></script>

      
        <script src="https://cdn.jsdelivr.net/npm/swiper@4.5.1/dist/js/swiper.min.js"></script>
        <script src="../../homepage.js"></script>
  </body>
</html>
