<main role="main" id="content" class="container-fluid my-5">
  
    <form class="row" action="#" id="PostAdminEditForm" method="post" accept-charset="utf-8">
      <div class="col-12 col-lg-6 m-auto">
        <div class="form-group required">
          <label for="PostName" class="is-required">Barème</label>
          <input name="data[Post][titre]" class="form-control" maxlength="255" type="text" id="PostName" required="required" aria-required="true">
        </div>
        <div class="form-group required">
            <label for="PostName" class="is-required">Libbélé</label>
            <input name="data[Post][titre]" class="form-control" maxlength="255" type="text" id="PostName" required="required" aria-required="true">
          </div>
        <div class="form-group">
            <label for="PostCategoryId">Evènement</label>
            <select name="data[Post][category_id]" class="custom-select" id="PostCategoryId">
              <option value="1">evenement 1</option>
              <option value="2">evenement 2</option>
            </select>
        </div>
       
        <button type="button" class="btn btn-primary float-right">Créer Evenement</button>
      </div>
    </form>
  </main><!--/.container-->