<main role="main" id="content" class="container-fluid my-5">
  
    <form class="row" action="#" id="PostAdminEditForm" method="post" accept-charset="utf-8">
      <div class="col-12 col-lg-6 m-auto">
        <div class="form-group required">
          <label for="PostName" class="is-required">Code</label>
          <input name="data[Post][titre]" class="form-control" maxlength="255" type="text" id="PostName" required="required" aria-required="true">
        </div>
        <div class="form-group required">
            <label for="Email" class="is-required">E-mail</label>
            <input name="data[Post][Email]" class="form-control" maxlength="255" type="email" id="Email" required="required" aria-required="true">
        </div>
        <div class="form-group required">
            <label for="Name" class="is-required">Nom</label>
            <input name="data[Post][Name]" class="form-control" maxlength="255" type="Name" id="Name" required="required" aria-required="true">
        </div>
        <div class="form-group required">
            <label for="LastName" class="is-required">Prénoms</label>
            <input name="data[Post][LastName]" class="form-control" maxlength="255" type="LastName" id="LastName" required="required" aria-required="true">
        </div>
        <div class="form-group required">
            <label for="Number" class="is-required">Numéro</label>
            <input name="data[Post][Number]" class="form-control" maxlength="255" type="Number" id="Number" required="required" aria-required="true">
        </div>
        <div class="form-group">
            <label for="PostCategoryId">Evenement</label>
            <select name="data[Post][category_id]" class="custom-select" id="PostCategoryId">
              <option value="1">category #1</option>
              <option value="2">category #2</option>
              <option value="3">category #3</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
            </div>
        </div>
        <div class="form-group">
          <label for="PostUser" class="is-required">Author</label>
          <input name="data[Post][user]" class="form-control" maxlength="255" type="text" id="PostUser" required="required" aria-required="true" title="autor is empty">
        </div>
        <button type="button" class="btn btn-primary float-right">Créer candidat</button>
      </div>
    </form>
  </main><!--/.container-->