<app-header></app-header>
<main role="main" id="content" class="container-fluid my-5">
  <div class="row mb-5">
    <div class="col col-md-4 pr-lg-5">
      <h1 id="search">Détail du groupe</h1>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#users" data-toggle="tab">Détail groupe</a></li>
        <li class="nav-item"><a class="nav-link" href="#devices" data-toggle="tab">Ajouter Membre</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="users">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="height: 100%; width: 100%; object-fit: contain"
                  [src]="'data:image/jpeg;base64,' + GroupeD.groupePhoto" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">Name : {{GroupeD.groupeNom}}</h3>
                  <h5 class="card-title">Code : {{GroupeD.groupeCode}}</h5>
                  <p class="card-text"><small class="text-muted"><span
                        class="badge badge-info">{{GroupeD.evenement?.evenementNom}}</span></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="devices">
          <form class="row" (submit)="onSubmit()" [formGroup]="candidatForm" id="PostAdminEditForm">
            <div class="col-12 col-lg-12 m-auto">
              <div class="container mb-4">
                <h1>Ajout de candidat</h1>
              </div>
              <div class="form-group required">
                <label for="PostName" class="is-required">Code</label>
                <input name="data[Post][titre]" formControlName="candidatCode" class="form-control" maxlength="255" type="text"
                  id="PostName">
              </div>
              <div class="form-group required">
                <label for="Email" class="is-required">E-mail</label>
                <input name="data[Post][Email]" formControlName="candidatEmail" class="form-control" maxlength="255"
                  type="email" id="Email">
              </div>
              <div class="form-group required">
                <label for="Name" class="is-required">Nom</label>
                <input name="data[Post][Name]" formControlName="candidatNom" class="form-control" maxlength="255" type="Name"
                  id="Name" required="required" aria-required="true">
              </div>
              <div class="form-group required">
                <label for="LastName" class="is-required">Prénoms</label>
                <input name="data[Post][LastName]" formControlName="candidatPrenoms" class="form-control" maxlength="255"
                  type="LastName" id="LastName">
              </div>
              <div class="form-group required">
                <label for="Number" class="is-required">Numéro</label>
                <input name="data[Post][Number]" formControlName="candidatTelephone" class="form-control" maxlength="255"
                  type="Number" id="Number" required="required" aria-required="true">
              </div>
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" accept="image/*" (change)="onSelectFile($event)" class="custom-file-input"
                    id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
                </div>
              </div>
              <div class="form-group required mt-3">
                <img [src]="imgURL" alt="" *ngIf="imgURL" style="width: 150px;height: 150px;">
              </div>
              <button type="submit" class="btn btn-primary float-right">Créer Candidat</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col col-md-8 pl-lg-5" style="float: right ;">
      <table id="myTable" class="table tablesorter table-responsive">
        <caption>Participants </caption>
        <thead class="cf">
          <tr class="text-center">
            <th class="header" scope="col">Id</th>
            <th class="header" scope="col">Nom et prenoms</th>
            <th class="header hide-when-small" scope="col">Code</th>
            <th class="header" scope="col">Email</th>
            <th class="header hide-when-small" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidat of candidatByGroup; let i = index">
            <td class="alert alert-danger border-0 mb-0" *ngIf="candidat.candidat">{{i+1}}</td>
            <td class="align-middle" *ngIf="candidat.candidat">{{candidat.candidat.candidatNom}}
              {{candidat.candidat.candidatPrenoms}}</td>
            <td class="align-middle" *ngIf="candidat.candidat">{{candidat.candidat.candidatCode}}</td>
            <td class="align-middle" *ngIf="candidat.candidat">{{candidat.candidat.candidatEmail}}</td>
            <td class="align-middle">
              <button *ngIf="candidat.groupeCandidatId" (click)="deletecandidat(candidat.groupeCandidatId)"
                data-toggle="modal" data-target="#confirmDelete" class="btn btn-secondary mt-3 float-right">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="myModalLabel" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title h4" id="myModalLabel">Confirmation de suppression</h2>
          <!-- Boosted mod: using visually hidden text instead of aria-label -->
          <button type="button" class="close" data-dismiss="modal">
            <span class="sr-only">Close confirmation modal</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Si vous supprimer ce évènement , cela sera définitif et vous perdrez toutes les données qui y vont avec.
            ètes-vous sûre de vouloir supprimer?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
          <button type="button" (click)="deleteOK()" class="btn btn-primary" data-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- fin modal -->
  <!-- fin de la row globale-->
</main>


<app-footer></app-footer>