<main role="main">
    <div class="bg-light pt-5 pb-3">
      <div class="container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div>
              <!-- Header title + link to see all -->
              <div class="d-flex mb-3">
                <h2 class="m-0">Liste des évènements</h2>
                <a routerLink="/addEvent" class="btn btn-secondary ml-auto">Ajouter évènement</a>
              </div>
              <div class="row discovery-carousel-frame-row">
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                      <h3 class="card-title mb-3">titre de l'évènement</h3>
                      <h3 class="card-title mb-3">10 participants</h3>
                      <div class="card-text mb-3" lang="zxx">
                        Type dévènement <br>
                        <div class="mt-3">
                          <div class="col-md-6" style="float: left;">date debut </div>
                          <div class="col-md-6" style="float: right;">date fin </div>
                        </div>
                      </div>
                      <div>
                        <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                        <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                      <h3 class="card-title mb-3">titre de l'évènement</h3>
                      <div class="card-text mb-3" lang="zxx">
                        Type dévènement <br>
                        <div class="mt-3">
                          <div class="col-md-6" style="float: left;">date debut </div>
                          <div class="col-md-6" style="float: right;">date fin </div>
                        </div>
                      </div>
                      <div>
                        <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                        <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                      <h3 class="card-title mb-3">titre de l'évènement</h3>
                      <div class="card-text mb-3" lang="zxx">
                        Type dévènement <br>
                        <div class="mt-3">
                          <div class="col-md-6" style="float: left;">date debut </div>
                          <div class="col-md-6" style="float: right;">date fin </div>
                        </div>
                      </div>
                      <div>
                        <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                        <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                      <h3 class="card-title mb-3">titre de l'évènement</h3>
                      <div class="card-text mb-3" lang="zxx">
                        Type dévènement <br>
                        <div class="mt-3">
                          <div class="col-md-6" style="float: left;">date debut </div>
                          <div class="col-md-6" style="float: right;">date fin </div>
                        </div>
                      </div>
                      <div>
                        <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                        <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="card border">
                    <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow" width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                      <h3 class="card-title mb-3">titre de l'évènement</h3>
                      <div class="card-text mb-3" lang="zxx">
                        Type dévènement <br>
                        <div class="mt-3">
                          <div class="col-md-6" style="float: left;">date debut </div>
                          <div class="col-md-6" style="float: right;">date fin </div>
                        </div>
                      </div>
                      <div>
                        <a href="#" class="btn btn-primary mt-3 float-left">Détails</a>
                        <a href="#" class="btn btn-secondary mt-3 float-right">Supprimer</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
  </main>