<main role="main">
    <div class="bg-light pt-5 pb-3">
      <div class="container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div>
              <!-- Header title + link to see all -->
              <div class="d-flex mb-3">
                <h2 class="m-0">Liste des évènements</h2>
                <a routerLink="/addEvent" class="btn btn-secondary ml-auto">Ajouter évènement</a>
              </div>
              <div class="row discovery-carousel-frame-row">
                <div class="col-4 col-md-4 col-lg-4 mt-4" *ngFor="let events of allEvents" style="width: 536px !important;">
                  <div class="card border">
                    <img src="../assets/images/discovery.svg" alt="" class="card-img-top bg-yellow"  width="416" height="229" loading="lazy"/>
                    <div class="card-body position-static">
                      <h3 class="card-title mb-3">{{events.evenementNom}}</h3>

                      <h5 class="card-title col-md-6  mb-3 " style="float: left;">10 pers</h5>
                      <h4 class="card-title col-md-6  mb-3" style="float: right">10 grps</h4>
                      <div class="card-text mb-3" lang="zxx">
                        {{events.evenementType}}<br>
                        <div class="mt-3">
                          <div class="col-md-6" style="float: left;">{{events.evenementDateDebut}} </div>
                          <div class="col-md-6" style="float: right;">{{events.evenementDateFin}} </div>
                        </div>
                      </div>
                      <div>
                        <a href="#" class="btn btn-primary mt-3 float-left">Modifier</a>
                        <button (click)="deleteEvent(events.evenementId)" class="btn btn-secondary mt-3 float-right">Supprimer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
  </main>
  
  